<%= render :partial => 'spree/admin/shared/sub_menu/configuration' %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_banks) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_bank), new_admin_bank_path, :class => "btn-success", :icon => 'add', :id => 'admin_new_bank_link'%>
<% end %>

<%= paginate @banks %>

<table class='table' id="listing_banks" data-hook>
  <thead>
    <th><%= sort_link @search, :name, Spree.t(:bank_name) %></th>
    <th><%= sort_link @search, :account_no, Spree.t(:account_no) %></th>
    <th><%= Spree.t(:additional_details) %></th>
    <th><%= sort_link @search, :status, Spree.t(:status) %></th>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="align-center"><%= bank.name %></td>
        <td class="align-center"><%= bank.account_no %></td>
        <td class="align-center"><%= bank.additional_details %></td>
        <td class="align-center" id='active-status-<%= bank.id %>'><%= bank_status(bank) %></td>
        <td class="actions"><%= link_to action_to_toggle_bank_status(bank), toggle_activation_admin_bank_path(bank), :remote => true, :method => :put %></td>
        <td class="actions"><%= link_to_edit bank, :no_text => true, :class => 'edit' %></td>
      </tr>
    <% end %>
  </tbody>
</table>